.lobby-mode-selection{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.lobby-mode-block{
    border: 4px rgba(0 0 0 / 40%) dashed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15vw;
    position: relative;
}

.lobby-mode-block::after{
    content: "";
    padding-bottom: 15vw;
}

.lobby-mode-block-content{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.btns{
    background: #F78D37;
    border: 2px solid #F9AF73;
    font-weight: bold;
    padding: 1rem;
    text-transform: uppercase;
}

#join-lobby-block{
    flex-direction: column;
    text-align: center;
}

.lobby-mode-selection input{
    color: #000;
}